.faqsContainer {
    display: flex;
    flex-direction: column;
    grid-auto-flow: row;
    align-items: stretch;
    padding: 0px 0px 0px 0px;
    width: 100%;
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 0px;
    align-self: center;
    gap: 16px;
    margin-bottom: 32px;
    justify-content: space-between;
}

summary {
    list-style: none;
}

/* Simulate the marker using ::before */
/* summary::marker {
    content: "⯈"; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto; 
    transform: rotate(0deg);
    transition: transform 0.3s ease;
} */

/* When details is open, rotate the marker */
/* details[open] summary::marker {
    transform: rotate(90deg);
}  */
